{% extends '@SyliusShop/Checkout/layout.html.twig' %}

{% block title %}Capture Payment | {{ parent() }}{% endblock %}

{% block content %}
    <div class="ui stackable grid">
        <div class="eleven wide column">
            <div class="ui segment">
                <a href="https://www.payfast.co.za/eng/process?cmd=_paynow&amp;receiver=14958216&amp;item_name=Test&amp;item_description=test&amp;amount=10.20"><img src="https://www.payfast.co.za/images/buttons/light-small-paynow.png" width="165" height="36" alt="Pay" title="Pay Now with PayFast" /></a>
            </div>
        </div>
        <div class="five wide column">
            {{ sylius_template_event(['sylius.shop.checkout.select_shipping.sidebar', 'sylius.shop.checkout.sidebar'], _context) }}
        </div>
    </div>
{% endblock %}
