{% extends '@SyliusShop/Checkout/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block title %}Capture Payment | {{ parent() }}{% endblock %}

{% set rand_total = order.getTotal() / 100 %}

{% block content %}
    <div class="ui stackable grid">
        <div class="eleven wide column">
            <div class="ui padded segment" id="sylius-shipping-methods">
                <a
                    href="https://sandbox.payfast.co.za/eng/process?cmd=_paynow&amp;receiver=10024793&amp;item_name=Clutch Kick Order&amp;amount={{ rand_total }}&amp;return_url=https://4b5a-197-86-223-170.ngrok.io/clutch_kick_classics/public/process-payment/{{ order.id }}%2F&amp;cancel_url=https%3A%2F%2Fwww.youtube.com%2F" >
                    <img src="https://www.payfast.co.za/images/buttons/dark-large-paynow.png" width="174" height="59" alt="Pay" title="Pay Now with PayFast" />
                </a>
            </div>
        </div>
        <div class="five wide column">
            {{ sylius_template_event(['sylius.shop.checkout.select_shipping.sidebar', 'sylius.shop.checkout.sidebar'], _context) }}
        </div>
    </div>
{% endblock %}
