{% extends '@SyliusShop/layout.html.twig' %}


{% block banner %}
            {% include '@SyliusShop/Homepage/_banner.html.twig' %}
{% endblock %}

{% block content %}
    <h1 class="text-4xl font-bold text-center py-16 text-current text-gray-500">
        How to Enter
    </h1>

    <p class="text-lg font-semibold">HOW TO ENTER</p>

    <ul class="text-lg">
        <li>Automatic with purchase at Clutchkickclassics.co.za</li>
        <li>One (1) entry for every purchased item during the Promotion Period.</li>
        <li>If a purchase is  returned prior to the drawing, entry/ entries associated with that purchase will be voided.</li>
        <li>If you are purchasing for a friend or family member, ensure that you enter their details on the application form. An automated email will be sent to them with their entry number.</li>
    </ul>

{% endblock %}
