{% extends '@SyliusShop/layout.html.twig' %}


{% block banner %}
            {% include '@SyliusShop/Homepage/_banner.html.twig' %}
{% endblock %}

{% block content %}
    <h1>THIS PAGE IS COMING SOON</h1>
{% endblock %}
