
<link rel="stylesheet"  href="https://unpkg.com/swiper/swiper-bundle.min.css"  />

{% set slides = [
    {
        'src': asset('assets/shop/img/slides/slide_3.jpg'),
        'alt': 'slide_3'
    },
] %}

<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        {% for slide in slides %}
            {% include '@SyliusShop/Homepage/_swiperSlide.html.twig'  with {'slide': slide} %}
        {% endfor %}
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper('.mySwiper', {
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>
