{% extends '@SyliusShop/layout.html.twig' %}


{% block banner %}
            {% include '@SyliusShop/Homepage/_banner.html.twig' %}
{% endblock %}

{% block content %}

    <div class="homepage container">

        <h1 class="text-4xl font-bold text-center py-16 text-current">
            Free entry with every item purchased!
        </h1>

        {% include '@SyliusShop/Homepage/_productsGrid.html.twig' %}
    </div>

    <p class="mt-9 text-center">
        Please note that many of the products on my website are custom made.
        Therefore, individual products may vary slightly from those displayed.
    </p>

{% endblock %}
