{% extends '@SyliusShop/layout.html.twig' %}


{% block banner %}
            {% include '@SyliusShop/Homepage/_banner.html.twig' %}
{% endblock %}

{% block content %}
    <h1 class="text-4xl font-bold text-center py-16 text-current text-gray-500">
        Privacy Policy
    </h1>

    <p class="text-lg">
        Any and all personal information submitted through this website will be held entirely confidential. Your email address, billing/shipping address, and phone number is your property. You hate spam and so do we.
    </p>



{% endblock %}
