<div class="ui center aligned inverted basic segment">
    <p>&copy;  2021 Clutch Kick Classics.</p>
    <a target="_blank" href="https://www.instagram.com/clutchkickclassics/"><i class="big grey facebook icon"></i></a>
    <a target="_blank" href="https://www.instagram.com/clutchkickclassics/"><i class="big grey instagram icon"></i></a>
</div>
